<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diploma Auto-Sender</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/pdf.min.js"></script>
</head>
<body>
  <div class="container">
    <header>
        <div class="header-text">
          <div class="color-block"></div>
          <h1>Send Certificate via Email</h1>
          <p>Automatically generate and send personalized 
            diplomas to your recipients in <span class="highlight">  2 minutes!</span></p>
          <!--p style="margin-top: 10px; font-size: 12px;">15,643 Diplomas sent already</p-->
        </div>
        <div onclick="styleModeToggle()" class="style-mode-btn" id="dark-mode-toggle"><img id="style-mode-icon" width="40px" height="20px" src="static\icons\light-mode-icon.svg"></div>
    </header>

    <!-- Upload Diploma Template -->
    <section class="card">
      <div onclick="toggleSection(this)" class="collapsible-header">
        <h2>1. Upload Diploma Template</h2>
        <img class="done-icon" src="static/icons/green-check.svg">
      </div>
      <div class="content" style="display: block;">
        <div class="upload-card">
          <div class="upload-box" id="uploadBox">
            <img width="60px" height="70px" src="{{ url_for('static', filename='icons/upload-diploma.svg') }}">
            <p>Upload your diploma template</p>
            <p class="supported-formats">Supported formats: PDF, PNG</p>
            <form action="/upload-template" method="POST" enctype="multipart/form-data" id="uploadForm">
              <input style="display: none;" type="file" id="diplomaTemplate" name="diploma_template" required>
              <button type="button" class="browse-button" onclick="document.getElementById('diplomaTemplate').click()">Browse Files</button>
            </form>
          </div>
        </div>
        <div class="preview-box" style="display: none;">
          <canvas id="pdfPreview" class="preview-image"></canvas>
        </div>
      </div>
    </section>
    

    <!-- Name Placement on Diploma -->
    <section class="card">
      <div onclick="toggleSection(this)" class="collapsible-header">
        <h2>2. Name Placement</h2>
        <img class="done-icon" src="static/icons/grey-check.svg">
      </div>
      <div class="content" style="display: none;">

        <div class="preview-box">
            <canvas id="pdfPreviewPlacement" class="preview-image"></canvas>
        </div>
        <form id="namePlacementForm" action="/place-name" method="POST">
            <input type="hidden" id="xPosition" name="x_position" value="300">
            <input type="hidden" id="yPosition" name="y_position" value="550">
            <!--input type="text" id="studentName" name="student_name" placeholder="Enter Student Name"-->
            <div class="button-container">
              <button type="button" id="placeNameButton" class="place-button">Name Placement</button>
            </div> 
        </form>
        <table class="name-position-table">
            <tr>
                <td><p>X Position:</p></td>
                <td><p>Y Position:</p></td>
            </tr>
            <tr>
                <td><input class="name-position-input" type="number" id="xPositionInput" value="300"></td>
                <td><input class="name-position-input" type="number" id="yPositionInput" value="550"></td>
            </tr>
        </table>
        <div class="button-container">
          <button type="button" id="nextButton" class="next-button">Next</button>
        </div>
      </div>
    </section>
    <script src="{{ url_for('static', filename='js/place-name.js') }}"></script>

    <!-- Upload Recipient List -->
    <section class="card">
      <div onclick="toggleSection(this)" class="collapsible-header">
        <h2>3. Upload Recipient List </h2>
        <img class="done-icon" src="static/icons/grey-check.svg">
      </div>
      <div class="content" style="display: none;">
          <div class="upload-box" id="csvUploadBox">
              <img width="60px" height="70px" src="{{ url_for('static', filename='icons/csv-file-icon.svg') }}">
              <p>Drag and drop your CSV file here</p>
              <p class="upload-info">Supported format: .csv</p>
              <input type="file" id="recipientListInput" name="recipient_list" style="display: none;">
              <button type="button" class="browse-button" onclick="document.getElementById('recipientListInput').click()">Browse Files</button>
          </div>
      <div class="recipient-list-div">
          <h4>Preview</h4>
          <table class="recipient-list-table" id="recipientListTable">
              <thead>
                  <th>
                      <input type="checkbox" id="selectAllCheckbox" />
                      <label for="selectAllCheckbox">Select All</label>
                  </th>
                  <tr>
                   
                      <th>Select</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>New</th>
                      <th>Send</th>
                  </tr>
              </thead>
              <tbody>
                  <!-- Rows will be dynamically inserted here -->
              </tbody>
          </table>
      </div>
      </div>
    </section>
  <script src="{{ url_for('static', filename='js/upload-csv.js') }}"></script>

    
    <!-- Email Configuration -->
    <section class="card"  id="email-configuration">
      <div onclick="toggleSection(this)" class="collapsible-header">
        <h2>4. Email Configuration </h2>
        <img class="done-icon" src="static/icons/grey-check.svg">
      </div>
      <div class="content" style="display: none;">
        <div class="email-info-box">
          <p>Email Subject</p>
          <input type="text" id="email-subject" placeholder="Your Diploma is Here!">
          
          <p>Email Body</p>
          <textarea id="email-body" placeholder="Write your email content here..."></textarea>
        </div>
	<div class="button-container">
          <button class="connect-email-btn">
            <img style="width: 40px; height: 60px; margin-right: 10px;" src="static/icons/email-icon.svg">Connect Email
          </button>
          <div class="test-email-container">
            <input type="email" id="testEmailInput" class="test-email-input" placeholder="Enter your email for review" />
            <button class="review-btn" id="reviewButton">Review</button>
          </div>
	</div>
      </div>
    </section>
    <script src="{{ url_for('static', filename='js/email-config.js') }}"></script>

    <!-- Send Section -->
    <section class="card">
      <h2>Send</h2>
      <div class="progressbar-box">
         <p style="margin: 0;">Sending Status</p>
         <progress id="sendingProgressBar" class="sending-progressbar" value="0" max="100"></progress>
         <span id="progressLabel">0%</span> <!-- Fallback label -->
      </div>

      <button id="sendDiplomasButton" class="send-btn">Send Diplomas</button>
    </section>

    <!-- Status Dashboard >
    <section class="card">
      <h2>Status Dashboard</h2>
      <table class="status-table">
        <thead>
          <tr>
            <th>Recipient</th>
            <th>Status</th>
            <th>Timestamp</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John Doe</td>
            <td style="color: orange;">Pending</td>
            <td>2024-02-20 14:30</td>
          </tr>
          <tr>
            <td>Jane Smith</td>
            <td style="color: rgb(0, 185, 0);">Sent</td>
            <td>2024-02-20 14:30</td>
          </tr>
        </tbody>
      </table>
    </section-->
  </div>


</body>
<script src="{{ url_for('static', filename='js/send-diplomas.js') }}"></script>
</html>
<script src="static\js\dark-mode-handler.js"></script>
<script src="{{ url_for('static', filename='js/drag-and-drop.js') }}"></script>
<script>
  document.querySelector('.connect-email-btn').addEventListener('click', () => {
    window.location.href = '/connect_email'; // Redirects to start the connection process
  });
</script>

<script>
  function toggleSection(header) {
  const content = header.nextElementSibling;
  if (content.style.display === "none" || content.style.display === "") {
    content.style.display = "block";
  } else {
    content.style.display = "none";
  }
}

</script>
